<section class="account addresses container">

    {% paginate customer.addresses by 5 %}

        <div class="flex f-space-between f-vertical-bottom m-b-m">
            <h1 class="title--md">{{ 'customer.account.title' | t }}</h1>
            <a class="title--sm" href="/account">{{ 'customer.account.return' | t }}</a>
        </div>


        <div data-address>
            <button type="button" class="btn" data-address-toggle>{{ 'customer.addresses.add_new' | t }}</button>

            <div data-address-form class="visually-hidden">
                {% form 'customer_address', customer.new_address %}
                    <h2 class="title--md m-b-m m-t-b">{{ 'customer.addresses.add_new' | t }}</h2>

                    <div class="input-row">
                        <div class="input-field">
                            <input placeholder="{{ 'customer.addresses.first_name' | t }}" type="text" name="address[first_name]" id="AddressFirstNameNew" value="{{ form.first_name }}" autocapitalize="words">
                        </div>
                        <div class="input-field">
                            <input placeholder="{{ 'customer.addresses.last_name' | t }}" type="text" name="address[last_name]" id="AddressLastNameNew" value="{{ form.last_name }}" autocapitalize="words">
                        </div>
                    </div>

                    <div class="input-field">
                        <input placeholder="{{ 'customer.addresses.company' | t }}" type="text" name="address[company]" id="AddressCompanyNew" value="{{ form.company }}" autocapitalize="words">
                    </div>
                    <div class="input-field">
                        <input placeholder="{{ 'customer.addresses.address1' | t }}" type="text" name="address[address1]" id="AddressAddress1New" value="{{ form.address1 }}" autocapitalize="words">
                    </div>
                    <div class="input-field">
                        <input placeholder="{{ 'customer.addresses.address2' | t }}" type="text" name="address[address2]" id="AddressAddress2New" value="{{ form.address2 }}" autocapitalize="words">
                    </div>
                    <div class="input-field">
                        <input placeholder="{{ 'customer.addresses.city' | t }}" type="text" name="address[city]" id="AddressCityNew" value="{{ form.city }}" autocapitalize="words">
                    </div>
                    <div class="input-row">
                        <div class="input-field">
                            <input placeholder="{{ 'customer.addresses.country' | t }}" type="text" name="address[country]" id="AddressCountryNew" value="{{ form.country }}" autocapitalize="words">
                            <!-- <select data-address-country name="address[country]" id="AddressCountryNew" data-default="{{ form.country }}"></select> -->
                        </div>
                        {% comment %}
                        <div class="input-field visually-hidden" data-address-province-wrapper>
                            <input placeholder="{{ 'customer.addresses.province' | t }}" type="text" name="address[province]" id="AddressProvinceNew" value="{{ form.province }}" autocapitalize="words">
                            <!-- <div data-address-province-wrapper class="visually-hidden">
                            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                            <select data-address-province name="address[province]" id="AddressProvinceNew" data-default="{{ form.province }}"></select>
                            </div> -->
                        </div>
                        {% endcomment %}
                        <div class="input-field">
                            <input placeholder="{{ 'customer.addresses.zip' | t }}" type="text" name="address[zip]" id="AddressZipNew" value="{{ form.zip }}" autocapitalize="characters">
                        </div>
                    </div>
                    <div class="input-field">
                        <input placeholder="{{ 'customer.addresses.phone' | t }}" type="tel" name="address[phone]" id="AddressPhoneNew" value="{{ form.phone }}" pattern="[0-9\-]*">
                    </div>
                    <label class="checkbox" for="address_default_address_new">
                        {{ form.set_as_default_checkbox }}
                        <span>{{ 'customer.addresses.set_default' | t }}</span>
                    </label>

                    <div class="flex m-t-m">
                        <button type="submit" class="btn">{{ 'customer.addresses.add' | t }}</button>
                        <button type="button" class="btn__line m-l-m" data-address-toggle>{{ 'customer.addresses.cancel' | t }}</button>
                    </div>
                {% endform %}
            </div>
        </div>

        <h2 class="title--md m-b-m m-t-b">{{ 'customer.addresses.title' | t }}</h2>

        {% for address in customer.addresses %}

            <div data-address>

                {% if address == customer.default_address %}
                    <h3 class="title--sm m-b-s">{{ 'customer.addresses.default' | t }}</h3>
                {% endif %}

                <div class="account-address rte">
                    {{ address | format_address }}
                </div>

                <div class="flex m-t-s">
                    <button type="button" class="btn" data-address-toggle>{{ 'customer.addresses.edit' | t }}</button>
                    <form data-address-delete-form method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                        <input type="hidden" name="_method" value="delete"/>
                        <button class="btn__line m-l-m" type="submit">{{ 'customer.addresses.delete' | t }}</button>
                    </form>
                </div>

                <div data-address-form class="visually-hidden m-t-b">
                    {% form 'customer_address', address %}

                        <h4 class="title--md m-b-m">{{ 'customer.addresses.edit_address' | t }}</h4>

                        <div class="input-row">
                            <div class="input-field">
                                <input placeholder="{{ 'customer.addresses.first_name' | t }}" type="text" name="address[first_name]" id="AddressFirstName_{{ form.id }}" value="{{ form.first_name }}" autocapitalize="words">
                            </div>


                            <div class="input-field">
                                <input placeholder="{{ 'customer.addresses.last_name' | t }}" type="text" name="address[last_name]" id="AddressLastName_{{ form.id }}" value="{{ form.last_name }}" autocapitalize="words">
                            </div>
                        </div>


                        <div class="input-field">
                            <input placeholder="{{ 'customer.addresses.company' | t }}" type="text" name="address[company]" id="AddressCompany_{{ form.id }}" value="{{ form.company }}" autocapitalize="words">
                        </div>


                        <div class="input-field">
                            <input placeholder="{{ 'customer.addresses.address1' | t }}" type="text" name="address[address1]" id="AddressAddress1_{{ form.id }}" value="{{ form.address1 }}" autocapitalize="words">
                        </div>


                        <div class="input-field">
                            <input placeholder="{{ 'customer.addresses.address2' | t }}" type="text" name="address[address2]" id="AddressAddress2_{{ form.id }}" value="{{ form.address2 }}" autocapitalize="words">
                        </div>


                        <div class="input-field">
                            <input placeholder="{{ 'customer.addresses.city' | t }}" type="text" name="address[city]" id="AddressCity_{{ form.id }}" value="{{ form.city }}" autocapitalize="words">
                        </div>


                        <div class="input-row">
                            <div class="input-field">
                                <input placeholder="{{ 'customer.addresses.country' | t }}" type="text" name="address[country]" id="AddressCountry_{{ form.id }}" value="{{ form.country }}" autocapitalize="words">
                            </div>
                            {% comment %}
                            <div id="AddressProvinceContainer_{{ form.id }}" data-address-province-wrapper class="visually-hidden">
                                <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                                <select data-address-province name="address[province]" id="AddressProvince_{{ form.id }}" data-default="{{ form.province }}"></select>
                            </div>
                            {% endcomment %}
                            <div class="input-field">
                                <input placeholder="{{ 'customer.addresses.zip' | t }}" type="text" name="address[zip]" id="AddressZip_{{ form.id }}" value="{{ form.zip }}" autocapitalize="characters">
                            </div>
                        </div>

                        <div class="input-field">
                            <input placeholder="{{ 'customer.addresses.phone' | t }}" type="tel" name="address[phone]" id="AddressPhone_{{ form.id }}" value="{{ form.phone }}" pattern="[0-9\-]*">
                        </div>

                        <label class="checkbox" for="address_default_address_{{ form.id }}">
                            {{ form.set_as_default_checkbox }}
                            <span>{{ 'customer.addresses.set_default' | t }}</span>
                        </label>

                        <div class="flex m-t-m">
                            <button type="submit" class="btn">{{ 'customer.addresses.update' | t }}</button>
                            <button type="button" class="btn__line m-l-m" data-address-toggle data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button>
                        </div>

                    {% endform %}

                </div>
            </div>
        {% endfor %}

        {% if paginate.pages > 1 %}
            {% include 'pagination' %}
        {% endif %}

    {% endpaginate %}
</section>
