<div class="box">
  <div class="wrapper">

    <div class="grid">
      <div class="grid__item large--eight-twelfths push--large--two-twelfths">
        <div class="section-header">
          <div class="page-title-wrapper">
            <h1 class="page-title">{{ 'general.404.title' | t }}</h1>
          </div>
        </div>
        <div class="page-empty">
          <p>{{ 'general.404.subtext' | t }}</p>
          <a href="{{ routes.all_products_collection_url }}" class="btn btn--primary">{{ 'general.404.link' | t }}</a>
        </div>
      </div>
    </div>

    {% comment %} 
    <h1 class="title">
        {{ 'general.404.title' | t }}</h1>
    </h1>

    <p>
        {{ 'general.404.subtext' | t }}
    </p>

    <a href="{{ routes.all_products_collection_url }}" class="button">
        {{ 'general.404.link' | t }}
    </a> {% endcomment %}

  </div>
</div>